h1 {
  text-align: center;
  color:yellowgreen;
   
}
p {text-align: center;}
div {text-align: center;}

 
     div.top{
       
       height:30%;
    border-bottom: solid 5px #CDDC39;       
     }
     div.bottom{
        width:70%;
     }
     div.left {
    float: left;
    width: 40%;
    padding-right: 10px;
    border-right: #4CAF50 solid 5px;
     }
     div.right {
       float:left;
       width:55%;
     }
     p.title{
       font-size:5em;
       color:red;
       text-align:center
     }
     p.abstract{
      color: green;
      font-weight: bold;
      font-style: italic;
      text-align: center;
      font-size: large;
      padding-top: 0px;
      padding-right: 50px;
      padding-bottom: 0px;
      padding-left: 50px;      
     } 
     p{
       font-size:large;
      padding-top: 0px;
      padding-right: 20px;
      padding-bottom: 0px;
      padding-left: 20px;      
       
     }
      
  
    img{
        width: 100px;
    }
